.addedAccommodation:nth-child(odd), 
.myAppendedFlight:nth-child(odd),
.myAppendedItem:nth-child(odd) {
    background-color: #d4ecf7;
}
label {
    color: rgb(100 116 139);
}
input, select, textarea {
    padding-left: 10px;
    padding-right: 10px;
}
h2 {
    font-size: 20px;
}